.user-account {
    width: 100%;
    padding: 1% 0;
}

.user-account a {
    padding: 1%;
    max-width: 400px;
    max-height: 200px;
    background: black;
    color: white;
    display: block;
}

.user-account a:hover {
    box-shadow: black 5px 5px 10px;
    color: white;
    background-color: grey;
}


/***************ADMIN PANEL***********************************/
.admin-tools a {
    max-width: 400px;
    display: block;
    text-transform: uppercase;
    padding: 1%;
    color: black;
}

.admin-tools a:hover {
    box-shadow: black 5px 5px 10px;
    color: white;
    background-color: grey;
}