/*********************FOOTER*************************************/
footer {
    width: 100%;
    height: 50px;
    background: black;
    color: white;

    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    left: 0;
    bottom: 0;
    z-index: 9000;
}

.footer-tabs {
    font-size: 25px;
}

.footer-tabs a {
    color: white;
}