.create {
    width: 100%;
    padding: 1%;
}

.create-block {
    width: 100%;
    margin: 0 auto;
}

.create-block h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

.create input[type="text"],
.create input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.create input[type="text"]:focus,
.create input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

.create input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

.create input[type="submit"]:hover,
.create input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.create input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

/* Overwrite default styles of hr */
.create hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}