* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
    background: #f2f4f5;
}

header {
    width: 100%;
    height: 10%;
    background: black;
    color: white;

    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo {
    width: 15%;
    padding: 1%;
}

header a {
    color: white;
}

header .nav-bar {
    width: 50%;
    color: white;
    text-align: right;
    padding: 1%;
}

/* Dropdown Button */
.dropbtn {
    font-size: 1em;
    background-color: black;
    color: white;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 0.9em;
    color: black;
    padding: 7%;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
