.wrapper {
    text-align: left;
    width: 1311px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.user-houses {
    width: 50%;
    margin: 0 auto;
}

.user-houses img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-houses a {
    width: 100%;
    color: black;
}

.house-wrap {
    padding: 8px;
    margin: 6px 0;
    background: #fff;
    transition: all 0.2s;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-wrap {
    width: 100%;
    background: #fff;
    transition: all 0.2s;
    box-sizing: border-box;
}

.house-link {
    width: 10%;
    height: 152px;
    line-height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.photo-cell {
    width: 216px;
}

.space {
    padding: 0 6px;
}

.house-owner {
    width: 275px;
}
