
/*******************************smart-house-rooms************************************/
.house-room {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: grey 1px 1px 5px 3px;
    background: white;
    width: 50%;
    border: lightgrey 1px solid;
    overflow: hidden;
}

.house-room img {
    margin: 0 auto;
    padding: 1%;
    width: 210px; /* width of container */
    height: 150px;
    object-fit: fill;
}

.house-room a {
    color: black;
}

.house-room button {
    margin: 1% auto;
    padding: 5px;
    width: 75%;

    border-radius: 20px;
    background-color: forestgreen;

    text-transform: uppercase;
    color: white;
    font-size: 24px;
}

.house-room p{
    color: grey;
    text-align: center;
}

.house-room h3{
    text-transform: uppercase;
    text-align: center;
}

/**********************************DEVICES-CONTROL***************************************/

.devices-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.device-control {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    padding: 1%;
    border-bottom: 1px grey solid;
    font-size: 20px;
}

.device-tool {
    width: 17%;
    text-align: center;
}

.device-tool button {
    text-align: center;
}

.device-tool .button_on {
    text-transform: uppercase;
    background-color: forestgreen;
    padding: 10% 35%;

    box-shadow: none;
    color: white;
}

.device-tool .button_off {
    text-transform: uppercase;
    padding: 10% 35%;
    box-shadow: none;
    color: grey;
    background-color: lightgrey;
}

.switch-btn {
    display: inline-block;
    width: 62px; /* ширина переключателя */
    height: 24px; /* высота переключателя */
    border-radius: 12px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 36px; /* высота кнопки */
    width: 36px; /* ширина кнопки */
    border-radius: 18px; /* радиус кнопки */
    background: #fff; /* цвет кнопки */
    top: -6px; /* положение кнопки по вертикали относительно основы */
    left: -6px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    box-shadow: 0 0 10px 0 #999999; /* тень */
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */
}
.switch-on::after {
    left: 30px;
    background: forestgreen;
}

.display_info {
    width: 100%;
    text-align: center;
    margin-right: 1%;
}