/**************************MAIN******************************************/
main {
    margin: 1% 0;
    width: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main h2 {
    text-align: left;
    padding-left: 1%;
}

select {
    padding: 10px;
    font-size: 18px;
    margin: 1% 0;
    display: block;
}

.device-output-type {
    max-width: 400px;
    display: flex;
    flex-direction: row;
}

#output_type_id {
    width: 150px;
}

.device-output-type label {
    margin: auto 0;
}

#output-type-img {
    display: block;
}

/*******************************smart-house-rooms************************************/
.smart-house-rooms {
    width: 100%;
    text-align: center;
}
.smart-house-rooms h2 {
    width: 70%;
    margin: 0 auto;
}

.house-rooms-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.smart-house-room {
    display: flex;
    flex-direction: row;
    color: black;
    background: white;
    text-align: center;    
    border-radius: 10px;
    border: 2px solid grey;
    width: 25%;
    max-height: 300px;
    margin: 0.2%;
}

.smart-house-room:hover {
    box-shadow: grey 1px 1px 5px 3px;
}

.img-room {
    width: 250px; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;
}

.img-room img {
    padding: 1%;
    height: 100%;
    object-fit: fill;
}

.room-info {
    text-align: left;
}

.room-info p {
    color: grey;
}

/************************SLIDER****************************************/
.slider-block {
    width: 100%;
    padding-top: 25px;
    font-size: 25px;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    width: 50%;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
/*****************************************************************************/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-button:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle-button {
    background-color: #2196F3;
}

input:focus + .toggle-button {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-button:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.toggle-button.round {
    border-radius: 34px;
}

.toggle-button.round:before {
    border-radius: 50%;
}

.admin-house-list, .admin-arduino-list {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.create-link {
    margin: 0 auto;
}

.btn {
    margin: 0 1%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-dark {
    color: #fff;
    background-color: #373a3c;
    border-color: #373a3c;
}

.btn-light {
    color: #fff;
    background-color: lightsteelblue;
}

.btn-green {
    color: #fff;
    background-color: green;
    border-color: #373a3c;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.table {
    border-collapse: collapse;
    width: 70%;
}

.table td, .table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

. table tr:nth-child(even) {
    background-color: #dddddd;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.modal-success {
    border-radius: 10px;
    background: lightskyblue;
    color: white;
    text-align: center;
    font-size: 28px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.room-select {
    width: 100%;
    margin: 1% 0;
}

.room-select select {
    padding: 0.5%;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .devices-control {
        width: 100%;
    }

    main .nav-bar {
        width: 100%;
    }
    main .smart-house-rooms {
        border: none;
        width: 100%;
        display: block;

    }
    .smart-house-room {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .img-room {
        margin: 0 auto;
    }
    .room-info {
        text-align: center;
    }
}